.profile {
    width: 150px;  /* or whatever size you desire */
    height: 75px;
    background-color: #ffd5e8;  /* choose a background color */
    border-radius: 15px;  /* adjust for desired roundness */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;  /* optional: for spacing */
    text-align: center;
}

.profile-link {
    color: #333;  /* choose a text color */
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
    display: block;  /* makes the entire area clickable */
    width: 100%;
    height: 100%;
}
